<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Students Manager{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'form_app:form' %}">生徒追加</a>
        <a href="{% url 'form_app:insert_multiple_students' %}">生徒一括追加</a>
        <a href="{% url 'form_app:students_list' %}">生徒一覧</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>